.year span,
#w span,
td span,
#Jan17,
caption,
.sronly {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

#Embiggen:checked ~ #Wrapper {
    font-size: 200%;
}

table {
    font-size: 65%;
    border-collapse: separate;
    border-spacing: 0.2em;
}

caption {
    text-align: left;
    font-size: 140%;
    margin-bottom: 1em;
}

th {
    text-align: left;
    font-weight: normal;
}

#days th {
    overflow: visible;
    padding: 0;
    height: 2.5em;
}

#days th span[aria-hidden="true"] {
    transform: rotate(-90deg);
    transform-origin: 0% 50%;
    display: block;
    position: absolute;
    margin-top: 0.25em;
    margin-left: 0.5em;
}

td {
    padding: 0;
    position: relative;
}

td::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    background-color: #eee;
}

td.amta::after,
td.amtb::after,
td.amtc::after,
td.amtd::after {
    display: none;
}

td a {
    display: block;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    background-color: #eee;
    z-index: 1;
    text-decoration: none;
}

#Borderize:checked ~ #Wrapper td::after,
#Borderize:checked ~ #Wrapper td a {
    /* border: .01em solid #767676; */ /* 4.5:1 */
    border: 0.01em solid #949494; /* 3:1 */
}

td a:hover,
td a:focus {
    text-decoration: none;
    outline: 0.1em solid #00d;
}

td.amta a {
    background-color: #c6e48b;
}

td.amtb a {
    background-color: #7bc96f;
}

td.amtc a {
    background-color: #239a3b;
}

td.amtd a {
    background-color: #196127;
}

#Toggle:checked ~ #Wrapper td.amta a {
    background-image: linear-gradient(
            to bottom right,
            #eee 0%,
            #eee 75%,
            #196127 75%,
            #196127 100%
    );
}

#Toggle:checked ~ #Wrapper td.amtb a {
    background-image: linear-gradient(
            to bottom right,
            #eee 0%,
            #eee 50%,
            #196127 50%,
            #196127 100%
    );
}

#Toggle:checked ~ #Wrapper td.amtc a {
    background-image: linear-gradient(
            to bottom right,
            #eee 0%,
            #eee 25%,
            #196127 25%,
            #196127 100%
    );
}

#Toggle:checked ~ #Wrapper td.amtd a {
    background-color: #196127;
}

td[class^="amt"] a:focus::before,
td[class^="amt"] a:hover::before {
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 1.5em;
    left: -1em;
    width: 12em;
    max-width: 57em;
    padding: 0.5em 0.75em;
    border: 0.05em solid rgba(255, 255, 255, 1);
    border-radius: 0.2em;
    box-shadow: 0.15em 0.15em 0.5em rgba(0, 0, 0, 1);
    content: attr(aria-label);
    background-color: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 1);
    font-size: 110%;
    animation: TOOLTIP 0.1s ease-out 1;
}

/* Comment these out to remove the transition. */
/* The transition is only there to show the    */
/* CSS acrobatics it takes to make this work.  */
table {
    transition: all 0.5s ease-in;
}

#days th span[aria-hidden="true"],
tr th span[aria-hidden="true"] {
    transition: transform 1s ease-out .5s;
}

/* End weird transition silliness.             */

@media screen and (prefers-reduced-motion: no-preference) {
    table, #days th span[aria-hidden="true"], tr th span[aria-hidden="true"] {
        transition: none;
    }
}

@media screen and (min-width: 46em) {
    table {
        transform: rotate(-90deg);
        transform-origin: 100% top;
        margin-left: -12em;
    }

    #Wrapper {
        height: 9em;
        overflow: visible;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

    #days th span[aria-hidden="true"] {
        transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg);
        margin-top: -1.5em;
    }

    tr th span[aria-hidden="true"] {
        display: block;
        transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg);
        margin-top: -2em;
    }

    td[class^="amt"] a:focus::before,
    td[class^="amt"] a:hover::before {
        transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg);
        transform-origin: 0 0;
        left: -4.5em;
        margin-bottom: -3em;
    }

    tr:nth-child(n + 45) td[class^="amt"] a:focus::before,
    tr:nth-child(n + 45) td[class^="amt"] a:hover::before {
        margin-bottom: 7em;
    }
}

/* Windows High Contrast Mode Support */
@media screen and (-ms-high-contrast: active) {
    td.amta a,
    td.amtb a,
    td.amtc a,
    td.amtd a {
        background-color: Highlight;
    }

    #Toggle:checked ~ #Wrapper td.amta a {
        background-image: linear-gradient(
                to bottom right,
                Window 0%,
                Window 75%,
                Highlight 75%,
                Highlight 100%
        );
    }

    #Toggle:checked ~ #Wrapper td.amtb a {
        background-image: linear-gradient(
                to bottom right,
                Window 0%,
                Window 50%,
                Highlight 50%,
                Highlight 100%
        );
    }

    #Toggle:checked ~ #Wrapper td.amtc a {
        background-image: linear-gradient(
                to bottom right,
                Window 0%,
                Window 25%,
                Highlight 25%,
                Highlight 100%
        );
    }

    #Toggle:checked ~ #Wrapper td.amtd a {
        background-color: Highlight;
    }

    #Borderize:checked ~ #Wrapper td::after,
    #Borderize:checked ~ #Wrapper td a {
        border-color: ActiveBorder;
    }
}

/* The animation */

@keyframes TOOLTIP {
    from {
        bottom: 0.5em;
        background-color: rgba(0, 0, 0, 0);
        border: 0.05em solid rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    }
    to {
        bottom: 1.5em;
        background-color: rgba(0, 0, 0, 0.85);
        border: 0.05em solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        box-shadow: 0.15em 0.15em 0.5em rgba(0, 0, 0, 1);
    }
}