{% load static %}
<html>
<head>
    <title>Story Point Reports</title>
    <style type="text/css">
        body {
            background-color: #fcfcfc;
            width: 100vw;
            height: 100vh;
        }
    </style>
    <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
</head>
<body>
<h1>BurnDown Chart User by User</h1>
		<canvas id="canvas" height="200" width="300"></canvas>
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" ></script>#}
<script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
<script src="{% static 'js/chart.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    $.get('{% url "line_chart_json" %}', function (data) {
        var ctx = $("#canvas").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line', data: data
        });
    });
</script>
</body>
</html>