{% extends 'base.html' %}
{% load static %}
{% load message_filter %}
{% block title %}
    Burn Down Chart
{% endblock %}

{% block stylesheet %}
    <link type="text/css" href="{% static 'css/ball.css' %}" rel="stylesheet"/>
{% endblock %}


{% block body %}

{#    <div class="container-ball">#}
{#        {% for user in users %}#}
{##}
{#            <div id="{{ user.id }}" class="ball-container-{{ user.id }}">#}
{#                <div class="ball-shadow">#}
{#                </div>#}
{#                <div class="ball" style="--velocity: {{ user.velocity }};">#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

    <div class="container">
        {% block content %}
            <h1> BurnDown Chart User by User</h1>
            <div class="flex-container">
                <div class="row">
                    <div class="flex-item">
                        <canvas id="canvas" class="item"></canvas>
                        <div class="balls">
                            {% for user in users %}
                            <div class="ball-{{ user.id }}" style="--background-image: url({{ user.avatar }})"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock body %}

{% block javascript %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>

    <script type="text/javascript">
        {% for user in users %}
          TweenMax.staggerTo(`.ball-{{user.id}}`, Number(`{{ user.velocity }}`), {
            y: '150px',
            ease: Bounce.easeOut,
            yoyoEase: Power3.easeOut,
            repeat: -1,
            repeatDelay: 1
        }, 0.2);
        {% endfor %}
        const CHART = document.getElementById('canvas').getContext('2d');
        const CONFIG = JSON.parse("{{ config }}".replace(new RegExp("&" + "#" + "x27;", "g"), "'").replace(/'/g, '"'))
        new Chart(CHART, CONFIG);

    </script>
{% endblock %}

